* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-do-fundo: #1f0050;
    --cor-primaria: #ffffff;
}

body {
    color: var(--cor-primaria);
}

.container {
    height: 100vh;
}

.principal {
    background-color: var(--cor-do-fundo);
}

